* {
    margin: 0px;
    padding: 0px;
}

.navbar {
    display: flex;
    justify-content: space-evenly;
    background-color: black; 
    font-family: "DM Sans", sans-serif;


}

.leftbar {
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}

.leftbar ul {
    display: flex;
    align-items: center;
    padding: 10px;
}

.leftbar ul li {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    padding: 18.5px;
    white-space: nowrap;

    color: white;
    list-style: none;
}

.rightbar {
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
}

.rightbar ul {
    display: flex;
    align-items: center;

}

.rightbar ul li {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    padding: 18.5px;
    white-space: nowrap;

    color: white;
    list-style: none;
}

.rightbar ul i {
    color: white;
}

.contactbutton button {
    background-color: #9966FF;
    border-radius: 8px;
    padding: 13px 18px;
    color: white;
    font-size: 14px;
    font-weight: 500;
    line-height: 15px;
    text-align: center;
    margin-left: 20px;
    white-space: nowrap;
}

.loginicon {
    padding-right: 10px;
}

.herosection {
    height: 85vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
}

.herosectiontext {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.herosectiontext h1 {
    font-family: "Red Hat Display", sans-serif;
    font-size: 38px;
    font-weight: 500;
    line-height: 47px;
    letter-spacing: 0.02em;
    text-align: center;
    color: white;

}

.herosectiontext h1 span {
    font-family: "Red Hat Display", sans-serif;
    font-size: 38px;
    font-weight: 600;
    line-height: 47px;
    letter-spacing: 0.02em;
    text-align: center;
    color: #9966FF;
    ;

}

.herosectiontext p {
    font-family: "Red Hat Display", sans-serif;
    font-size: 28px;
    font-weight: 500;
    line-height: 33px;
    text-align: center;
    color: white;

}

.getbutton {
    background-color: #9966FF;
    border-radius: 8px;
    padding: 13px 18px;
    color: white;
    font-size: 14px;
    font-weight: 500;
    line-height: 15px;
    text-align: center;
    margin-left: 20px;
    white-space: nowrap;
    margin: 10px;
}

.aboutbutton {
    background-color: black;
    border-radius: 8px;
    padding: 13px 26px;
    color: white;
    font-size: 14px;
    font-weight: 500;
    line-height: 15px;
    text-align: center;
    margin-left: 20px;
    white-space: nowrap;
    margin: 10px;
    border: 1px solid white;
}

.herosectionbottom {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: -90px;
    width: 100%;



}

.herosectionbottomtags {
    border-radius: 10px;
    background-color: #FFFFFF;
    box-shadow: 0px 10px 35px 0px #00000014;
    height: 130px;
    width: 980px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: "DM Sans", sans-serif;

}

.herosectionbottomtags div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.herosectionbottomtags div i {
    background-color: #9966FF;
    border: 1px solid #9966FF;
    border-radius: 6px;
    margin: 10px;
    color: white;
}

.inpersonclasses {
    background: rgb(192, 160, 255);
    background: radial-gradient(circle, rgba(192, 160, 255, 0.6027661064425771) 0%, rgba(0, 0, 0, 0) 25%);
    height: 120vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50px 0px 150px 0px;
}

.inpersonclasses h1 {
    font-family: "Red Hat Display", sans-serif;
    padding-bottom: 60px;

    font-size: 34px;
    font-weight: 500;
    line-height: 47px;
    letter-spacing: 0.02em;
    text-align: center;

}

.inpersonclasses h1 span {
    font-family: "Red Hat Display", sans-serif;
    font-size: 34px;
    font-weight: 600;
    line-height: 47px;
    letter-spacing: 0.02em;
    text-align: center;
    color: #9966FF;


}

.articlebox {

    display: flex;
    column-gap: 30px;
}

.articles {
    border-radius: 10px;
    box-shadow: 0px 15px 45px 0px #00000012;

}

.articlebox article img {

    margin: 20px;
    border-radius: 10px;
}

.imageboxtext {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 50%;
    margin: 20px;

}

.imageboxtext h2 {
    font-family: "Red Hat Display", sans-serif;
    font-size: 22px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.03em;
    text-align: left;
    color: #9966FF;
    margin-bottom: 20px;


}

.imagelighttext {
    font-family: "DM Sans", sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 27px;
    text-align: left;
    margin-bottom: 15px;

}

.imageboldtext {
    font-family: "DM Sans", sans-serif;
    font-size: 17px;
    font-weight: 500;
    line-height: 27px;
    text-align: left;

}

.imageboxtext h3 {
    font-family: "DM Sans", sans-serif;
    font-size: 17px;
    font-weight: 600;
    line-height: 27px;
    text-align: left;

}

.specialmargin {
    margin-top: 20px;
}

.onlineaccess {
    height: 630px;
    display: flex;
    width: 100%;

    ;

}

.onlineaccess h1 {
    font-family: "Red Hat Display", sans-serif;
    font-size: 34px;
    font-weight: 500;
    line-height: 47px;
    letter-spacing: 0.02em;
    text-align: center;
    color: white;
    margin-bottom: 44px;
    margin-top: 70px;

}

.onlineaccess h1 span {
    font-family: "Red Hat Display", sans-serif;
    font-size: 34px;
    font-weight: 600;
    line-height: 47px;
    letter-spacing: 0.02em;
    text-align: center;
    color: #9966FF;

}

.left {
    width: 21%;
    background: rgb(68, 29, 147);
    background: linear-gradient(90deg, rgba(68, 29, 147, 1) 0%, rgba(26, 26, 26, 1) 56%, rgba(26, 26, 26, 1) 59%, rgba(26, 26, 26, 1) 100%);
}

.center {
    width: 58%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #1A1A1A;
}

.right {
    width: 21%;
    background: rgb(26, 26, 26);
    background: linear-gradient(90deg, rgba(26, 26, 26, 1) 0%, rgba(26, 26, 26, 1) 41%, rgba(26, 26, 26, 1) 44%, rgba(68, 29, 147, 1) 100%);
}

.grid {
    display: grid;
    grid-template-columns: 400px 350px;
    grid-template-rows: 1fr 1fr 1fr;
    width: 750px;
    height: 160px;
    padding-bottom: 250px;

}

.items {
    display: flex;
    align-items: center;
    font-family: "DM Sans", sans-serif;
    font-size: 15px;
    font-weight: 500;
    line-height: 33px;
    text-align: left;
    color: white;
    white-space: nowrap;

}

.items img {
    padding-right: 20px;
}

.twoimages {
    position: relative;
    height: 200px;
}

.position {
    position: relative;
    bottom: 200px;
    display: flex;
    justify-content: center;
    column-gap: 25px;
}

.imagebox img {
    border: 1px solid #9966FF;
    border-radius: 10px;
}

.clothes {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 220vh;
}

.joinbutton {
    background-color: #9966FF;
    border-radius: 8px;
    padding: 13px 18px;
    color: white;
    font-size: 14px;
    font-weight: 500;
    line-height: 15px;
    text-align: center;
    padding: 15px 60px;

    white-space: nowrap;
    margin: 10px 0px 90px 0px;
    border: none;
}

.clothesgrid {
    width: 950px;
    height: 995px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row: 1fr 1fr;
    margin-top: 80px;
}

.clothsitems {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.clothsitems img {
    margin-bottom: 15px;
}

.clothsitems p {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: "DM Sans", sans-serif;
    font-size: 15px;
    font-weight: 500;
    line-height: 22px;
    text-align: center;
    margin-bottom: 10px;

}

.moneytag {
    font-family: "DM Sans", sans-serif;
    font-size: 17px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    margin-bottom: 10px;

}

.addbutton {
    background-color: #9966FF;
    border-radius: 8px;
    padding: 13px 110px;
    color: white;
    font-size: 14px;
    font-weight: 500;
    line-height: 15px;
    text-align: center;
    white-space: nowrap;
    border: none;

}

.viewbutton {
    background-color: white;
    border-radius: 4px;
    padding: 12px 58px 13px 57px;
    gap: 10px;
    border-radius: 4px;
    border: 1px solid #9966FF;
    opacity: 0px;
    color: #9966FF;
    margin: 30px 0px 60px;


}

.newroutine {
    background-color: #1A1A1A;
    display: flex;
    height: 380px;


}

.danceimage {
    width: 33%;
    background-image: url(danceimage.png);
    display: flex;
}

.maindance {
    width: 481px;
}

.minordance {
    width: 161px;
    background: linear-gradient(270deg, #1B1A1E 0%, rgba(27, 26, 30, 0) 97.67%);

}

.routinetext {
    width: 45%;
    margin: 0px auto;
    padding: 0px 10px 0px 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.routinetext h1 {
    font-family: "Red Hat Display", sans-serif;
    font-size: 34px;
    font-weight: 500;
    line-height: 44px;
    letter-spacing: 0.02em;
    text-align: left;
    color: white;
    padding-bottom: 15px;

}

.routinetext h1 span {
    font-family: "Red Hat Display", sans-serif;
    font-size: 34px;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #9966FF;

}

.routinetext p {
    font-family: "DM Sans", sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    text-align: left;
    color: white;
    padding-bottom: 36px;

}

.learnbutton {
    background-color: #9966FF;
    border-radius: 8px;
    padding: 13px 33px;
    color: white;
    font-size: 14px;
    font-weight: 500;
    line-height: 15px;
    text-align: center;

    white-space: nowrap;
    border: none;
}


.dancegradient {
    width: 22%;
    background: rgb(26, 26, 26);
    background: linear-gradient(110deg, rgba(26, 26, 26, 0.9641106442577031) 20%, rgba(68, 29, 147, 1) 140%);

}

.badass {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.badass h1 {
    font-family: "Red Hat Display", sans-serif;
    font-size: 34px;
    font-weight: 500;
    line-height: 47px;
    letter-spacing: 0.02em;
    text-align: center;
    margin: 110px 0px 60px 0px;

}

.badass h1 span {
    color: #9966FF;
}

.packagegrid {
    width: 960px;
    height: 410px;
    display: grid;
    grid-template-areas: "package1 package2 package3";
    column-gap: 25px;
    margin-bottom: 146px;
}

.package1 {
    height: 410px;
    width: 357px;
    grid-area: package1;
    background-image: url(packageimage.png);
    background-repeat: no-repeat;
    background-position: center top;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: flex-end;

}

.package2 {
    height: 410px;
    width: 357px;
    grid-area: package2;
    background-image: url(packageimage.png);

    background-repeat: no-repeat;
    border-radius: 8px;
    background-position: center top;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.package3 {
    height: 410px;
    width: 357px;
    grid-area: package3;
    background-image: url(packageimage.png);

    background-repeat: no-repeat;
    border-radius: 8px;
    background-position: center top;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.challenge {
    background-color: white;

    bottom: 0px;
    width: 272px;
    height: 170px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 0px 15.27px 45.8px 0px #0000000D;

}

.challenge h2 {
    font-family: "Red Hat Display", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 25.96px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #9966FF;
    margin: 16.5px 0px 6.5px 15px;

}

.challenge p {
    font-family: "DM Sans", sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 17px;
    text-align: left;
    margin: 0px 0px 13px 15px;

}

.challenge span {
    font-family: "DM Sans", sans-serif;
    font-size: 15px;
    font-weight: 600;
    line-height: 15px;
    text-align: left;
    margin: 0px 0px 28px 15px;

}

.joinnowbutton {
    width: 242px;
    height: 16px;
    background-color: white;
    border: none;
    color: black;
    font-size: 16px;
    font-weight: 500;
    line-height: 16.2px;
    text-align: left;
    margin-left: 15px;
    white-space: nowrap;
    border-top: 1px solid #ECECEC;
    padding-top: 15px;

}

footer {
    display: flex;
    justify-content: center;

}

.footersection {
    width: 100%;
    display: flex;
}
.leftfooterbox{
    height: 100%;
    width: 15%;
    background: rgb(68,29,147);
    background: linear-gradient(95deg, rgba(68,29,147,1) 0%, rgba(68,29,147,1) 0%, rgba(58,28,120,1) 01%, rgba(53,28,106,1) 04%, rgba(45,27,82,1) 21%, rgba(26,26,26,1) 46%);
}
.rightfooterbox{
    height: 100%;
    width: 15%;
    background: rgb(26,26,26);
    background: linear-gradient(95deg, #1a1a1a 46%, #2d1b52 79%, #351c6a 96%, #3a1c78 99%, #441d93 100%);
}
.footerbox {
    width: 70%;
    height: 522px;
    background-color: #1A1A1A;
    ;
}

.topgrid {
    height: 410px;
    display: grid;
    grid-template-areas: "image quicklink shop newsletter";

}

.item1 {
    grid-area: image;

    padding-top: 53px;
    ;
}

.item2 {
    grid-area: quicklink;

}

.footerheaders {
    font-family: "Red Hat Display", sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 24.6px;
    text-align: left;
    color: #FFFFFF;
    padding-top: 52px;
}

.footerheadersunique {
    font-family: "Red Hat Display", sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 24.6px;
    text-align: left;
    color: #FFFFFF;
    padding-top: 40px;
}

.multihr {
    background-color: #9966FF;
    height: 2.5px;
    width: 51px;
    margin: 9px 0px 31px 0px;
    border: none;

}


.multihrunique {
    background-color: #9966FF;
    height: 2.5px;
    width: 51px;
    margin: 9px 0px 23px 0px;
    border: none;
}

.sameliststyle {
    list-style: none;
    display: flex;
    flex-direction: column;
    row-gap: 15px;

}

.sameliststyle>li {
    font-family: "DM Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 18.9px;
    text-align: left;
    color: white;

}

.item3 {
    grid-area: shop;


}

.item4 {
    grid-area: newsletter;
}

.inputsubscribe>input {
    height: 44px;
    width: 220px;
    border: 1px solid #ACACAC;
    background-color: #1A1A1A;
    padding-left: 22px;
    color: white;
}

.inputsubscribe>button {
    background-color: #9966FF;

    padding: 15px 15px;
    color: white;
    font-size: 14px;
    font-weight: 500;
    line-height: 15px;
    text-align: center;

    white-space: nowrap;
    border: none;
}

.belowcontact {
    font-family: "DM Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 18.9px;
    text-align: left;
    color: white;
    margin-bottom: 13px;
}

.bottomfooter {
    display: flex;
    height: 112px;
    border-top: 1px solid #6B6B6B;


}

.leftfooter {
    width: 50%;

    padding-top: 26px;
}

.leftfooter span {
    font-family: "DM Sans", sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 20.25px;
    text-align: left;
    color: #FFFFFF;

}

.leftfooter>span>span {
    color: #9966FF;
}

.rightfooter {

    display: flex;
    justify-content: flex-end;
    column-gap: 31px;

    padding-top: 26px;
    width: 50%;

}

.rightfooter>span>i {
    color: white;
}